/* CORES */
$color-primary: #397831;
$color-secondary: #CD98BB;
$color-tertiary: #783160;
$color-quaternary: #273825;
$color-accent: #783160;
$color-light-1: #CD98BB;
$color-light-2: #DFF7DC;
$color-light-3: #F7EEF4;
$color-bg-body: #fafafb;
$color-body-1: #273825;
$color-body-2: #783160;

/* FONTES */
$font-family-body: 'Inter', sans-serif;
$font-family-title: "Barlow Condensed", sans-serif;
$font-family-mono: "Roboto Mono", monospace;

/* LAYOUT */
$backdrop-blur: 8px;