@font-face {
  font-family: "Myriad Pro";
  src: url("~assets/fonts/myriad-pro/MYRIADPRO-REGULAR.OTF") format("OTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("~assets/fonts/myriad-pro/MYRIADPRO-BOLD.OTF") format("OTF");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("~assets/fonts/myriad-pro/MYRIADPRO-SEMIBOLD.OTF") format("OTF");
    font-weight: 600;
    font-style: normal;
  }
  
@font-face {
  font-family: "Myriad Pro";
  src: url("~assets/fonts/myriad-pro/MyriadPro-Light.OTF") format("OTF");
  font-weight: 300;
  font-style: normal;
}