/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "bootstrap/dist/css/bootstrap";

.root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003B76;
  width: 100dvw;
  min-height: 100dvh;
  font-family: 'Poppins', open-sans;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: $color-primary;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: $color-accent;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.backdrop-no-blur {
  background-color: #ffffff !important;
}

.backdrop-blur {
  -webkit-backdrop-filter: blur($backdrop-blur);
  backdrop-filter: blur($backdrop-blur);
  background-color: rgba(255, 255, 255, 0.8) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-title !important;
  text-transform: none !important;
}

h1 {
  font-size: 2.5rem !important;
  font-weight: 600;
  line-height: 1.5;
}

h2 {
  font-size: 2.2rem !important;
  font-weight: 600;
  line-height: 1.4;
}

h3 {
  font-size: 2rem !important;
  font-weight: 500;
  line-height: 1.4;
}

h4 {
  font-size: 1.3rem !important;
  font-weight: 500;
  line-height: 1.4;
}

h5 {
  font-size: 1.4rem !important;
  font-weight: 400;
  line-height: 1.6;
}

h6 {
  font-size: 1.1rem !important;
  font-weight: 400;
  line-height: 1.2;
  color: lighten($color-body-1, 8%);
}

p {
  margin-bottom: 10px;
}

.page-wrapper {
  background: $color-bg-body;
}

.page-body {
  background: $color-bg-body;
  color: $color-body-1;
  height: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(5px);
}

.footer {
  background: none !important;
  color: $color-body-2 !important;
}

code {
  font-family: $font-family-mono !important;
}

.code {
  background-color: $color-light-3;
  color: lighten($color-body-1, 10%);
  border-radius: 4px;
  line-height: 1.8;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
}

/* Sobrepondo o vuetify */
.v-application {
  background: $color-bg-body !important;
  color: $color-body-1 !important;
}
.v-app-bar.v-toolbar {
  color: $color-body-2 !important;
  border-bottom: 1px solid rgba(230, 235, 241, .8);
}
.v-navigation-drawer.v-navigation-drawer--left {
  border-right: 1px solid rgba(230, 235, 241, .8);
}
.v-card-text {
  font-size: 0.95rem !important;
}
.v-menu {
  > .v-overlay__content {
    > .v-sheet {
      box-shadow: 0 0 4px #00000014 !important;
    }
  }
}
