/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'); */
@import "bootstrap/dist/css/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css");

.root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003B76;
  min-height: 100vh;
  font-family: 'Myriad Pro', sans-serif;
  overflow-x: hidden;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: #0d6efd;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #198754;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.backdrop-no-blur {
  background-color: #ffffff !important;
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.8) !important;
}


h1 {
  font-size: 2.5rem !important;
  font-weight: 600;
  line-height: 1.5;
}

h2 {
  font-size: 2.2rem !important;
  font-weight: 600;
  line-height: 1.4;
}

h3 {
  font-size: 2rem !important;
  font-weight: 500;
  line-height: 1.4;
}

h4 {
  font-size: 1.3rem !important;
  font-weight: 500;
  line-height: 1.4;
}

h5 {
  font-size: 1.4rem !important;
  font-weight: 400;
  line-height: 1.6;
}

h6 {
  font-size: 1.1rem !important;
  font-weight: 400;
  line-height: 1.2;
  color: lighten($color-body-1, 8%);
}

p {
  margin-bottom: 10px;
}

.page-wrapper {
  background: $color-bg-body;
}

.page-body {
  background: $color-bg-body;
  color: $color-body-1;
  height: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(5px);
}

footer {
  background-color: #003B76;
}

.topic-background {
  background-color: #77B1EB;
}